.metadata/*
.DS_Store
README.md
smart_bottle/*
!smart_bottle/Core/Src
!smart_bottle/Core/Inc
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
*.snap
*.xmi
*.resources
*.snap
*.snap
*.pdom
*.log
smart_bottle/.cproject
smart_bottle/.mxproject
smart_bottle/.settings/language.settings.xml
smart_bottle/Core/Src/stm32f4xx_it.c
smart_bottle/Debug/Core/Src/main.o
smart_bottle/Debug/Core/Src/main.su
smart_bottle/Debug/Core/Src/stm32f4xx_it.o
smart_bottle/Debug/Core/Src/stm32f4xx_it.su
smart_bottle/Debug/Core/Src/subdir.mk
